RISHI_HHT_APP/RISHI_HHT_APP.Android/Web References/WebReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LoginValidate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginValidateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HHTScanning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransactionType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MachineBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PicklistNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BatchNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TotalTrolleyWeight" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AssetBarcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NoOfBobins" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CreatedBY" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Width" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Length" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NoofEnds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="WorkOrderNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FGWeight" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CustID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HHTScanningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HHTScanningResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchMySqlData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchMySqlDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchMySqlDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>